@use "../../assets/sass/abstract/variables" as *;
@use "../../assets/sass/base/typography" as *;

.todo {
  margin: 15px auto 25vh;
  width: 95%;
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 0.4) 0%,
    rgba(217, 217, 217, 0.1) 100%
  );
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(22.5px);
  -webkit-backdrop-filter: blur(22.5px);
  border-radius: 16px;
  padding-bottom: 15px;
  &__title {
    color: $color-white;
    font-family: $font-main;
    position: relative;
    top: 15px;
    width: 90%;
    margin: 0 auto 30px;
    padding: 5px 0 5px 15px;
    border-radius: 16px;
    background: linear-gradient(
      180deg,
      rgba(217, 217, 217, 0.4) 33.78%,
      rgba(217, 217, 217, 0.1) 133.78%
    );
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(22.5px);
    -webkit-backdrop-filter: blur(22.5px);
  }
  &__inputfield {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(250px + 1vw);
    margin-left: 5%;
  }

  &__input {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 40px;
    font-family: $font-main;
    color: #6f6b92;
    padding: 8px 40px;
    font-weight: 400;
    font-size: calc(12px + 0.3vw);
    &:focus {
      outline: none;
    }
  }

  &__button {
    cursor: pointer;
    background: none;
    border: none;
    color: $color-white;
    height: 25px;
    width: 25px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      border: 1px solid $color-white;
      border-radius: 50%;
      height: 25px;
      width: 25px;
    }
  }
}
