@use "../../assets/sass/abstract/variables" as *;
@use "../../assets/sass/base/typography" as *;

.forecast-card {
  &--square {
    margin: 0px 0 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 16px;
    width: calc(120px + 1vw);
    height: calc(120px + 1vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: $font-main;
    color: $color-blue;
    text-align: center;
  }

  &__icon {
    filter: invert(40%) sepia(45%) saturate(319%) hue-rotate(206deg) brightness(90%)
      contrast(90%);
    height: 50px;
    width: 50px;
  }
  &__date {
    text-align: center;
    opacity: 0;
  }
}
